$primary-green: #a4db5b;
$bg-primary: #2a7be4;
$bg-secondary: #748194;
$bg-success: #00d27b;
$bg-soft-success: #e0faef;
$bg-info: #27bcfe;
$bg-warning: #f68f57;
$bg-danger: #e63756;
$treeams-grey: #f4f7fb;
